@charset "UTF-8";

@media screen and (max-width: 361px) and (max-width: 600px){

    section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container {
        width: 100%;
    }

    #section-inverted-world .section-texts{
        width: 80%;
        text-align: center;
    }

    #section-inverted-world img {
        padding-top: 20px;
        width: 90%;
        max-width: 400px;
    }

    /*---------------SECTION IFRAME----------*/

    #section-stranger-things-trailer {
        display: none;
    }
    
    /*--------------GALERY------------*/

    #section-stranger-things-gallery .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #section-stranger-things-gallery .container h2{
        width: 100%;
        max-width: 400px;
        font-size: 2rem;
        text-align: center;
    }

    .gallery-container {
        flex-direction: column;
        align-items: center;
        border: 1px solid white;
    }

    /*SECTION FORMULARIO*/
    
    #section-form h2 {
        width: 90%;
        font-size: 30px;
    }

    #section-form p {
        width: 80%;
    }

    #section-form .form-content {
        display: flex;
        flex-direction: column;
    }
    
    #section-form .form-content h3 {
        font-size: 30px;
        text-align: center;
        max-width: 500px;
        margin-bottom: 30px;
    }
    
    #section-form .form-content h3 span {
        font-size: 40px;
    }
    
    /*-------FOOTER-----*/
    
    footer p {
        padding: 0px 10px;
    }
    
    footer::before,
    footer::after {
        width: 200px;
        height: 100px;
    }
    
    footer::after{
        right: -100px;
    }
}